<form #form="ngForm" (ngSubmit)="submitProduct()">

    <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="" [(ngModel)]="product.name" name="name" required minlength="3"
            #inputName>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Price</mat-label>
        <input matInput type="number" placeholder="" [(ngModel)]="product.price" name="price" required min="1">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Add</button>

</form>